@charset "utf-8";

/*SITE WIDE*/
html{background-color: black;}

/*UNIVERSAL HEADER*/
.NavBar{
	display: flex;
	max-width: 100%;
	min-width: 200px;
}
.active{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", sans-serif;
	font-style: oblique;
	font-size: calc(.5em + 2vm);
	font-weight: 200;
	letter-spacing: 1px;
	width: 20%;
	padding: 15px;
}
.NavBar img{
	position:relative;
	max-width: 100%;
	min-width: 100px;
	width: 15%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	z-index: 3;
}
.menuButton {
	display: inline-block;
	cursor: pointer;
	width: 100px;
	padding: 10px;
}
.menu {
	max-width: 100%;
	display: flex;
	flex-direction: column;
}
.item{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", sans-serif;
	font-style: oblique;
	font-size: calc(.5em + 2vm);
	font-weight: 200;
	letter-spacing: 1px;
	padding: 15px;
	display: none;
}
.bar1, .bar2, .bar3 {
  width: 60px;
  height: 10px;
  background-color:#812EFF;
  margin: 10px;
  transition: 0.5s;
  justify-content: flex-end; 
}
/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-14px, 13px) ;
  transform: rotate(-45deg) translate(-14px, 13px) ;
}
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-14px, -15px) ;
  transform: rotate(45deg) translate(-14px, -15px) ;
}
/*show menu items*/
.change .item{
	display: flex;
}




/*HOME/MUSIC PAGE*/
.Portfolio{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
	justify-content: center;
	z-index: 1;
}
.cell{
	max-width: 100%;
	max-height: 100%;
	height: auto;
	padding: 10px;
	margin: 10px;
	z-index: 2;
	flex-basis: 100px;
}




/*GALLERIES PAGE*/
.GalleryList{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content:space-around;
	justify-content: center;
	margin-left: 100px;
	margin-right: 100px;
	z-index: 1;
}
.galCell{
	max-width: 100%;
	max-height: 100%;
	height: auto;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin: 10px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", sans-serif;
	font-style: oblique;
	z-index: 2;
	flex-basis: 100px;
}




/*INDIVIDUAL GALLERIES*/
.Gallery{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
	justify-content: center;
	z-index: 1;
}
.gcell{
	max-width: 100%;
	max-height: 100%;
	height: auto;
	padding: 10px;
	margin: 10px;
	z-index: 2;
	flex-basis: 100px;
}




/*ABOUT ME PAGE*/
.bio h2{
	position: absolute;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", sans-serif;
	font-style: oblique;
	font-size: calc(.5em + 2vm);
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
}
.bio h3{
	position: absolute;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", sans-serif;
	font-style: oblique;
	font-size: calc(.5em + 2vm);
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 20px;
	
}
.bio p{
	position: absolute;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", sans-serif;
	font-style: oblique;
	font-size: calc(.5em + 2vm);
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 150px;
	padding-top: 70px;
}

/*CONTACT PAGE*/
.info h1{
	position: absolute;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", sans-serif;
	font-style: oblique;
	font-size: calc(.5em + 2vm);
	padding-right: 200px;
	padding-left: 200px;
	padding-bottom: 150px;
}
.info p{
	position: absolute;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", sans-serif;
	font-style: oblique;
	font-size: calc(.5em + 2vm);
	padding-right: 200px;
	padding-left: 200px;
	padding-bottom: 150px;
}

/*mobile formatting*/
@media screen and (max-width:850px){
	.item{
		font-size: 2;
	}
	.Portfolio{
		flex-direction: column;
	}
	.responsive{
		max-width: 100%;
	}
	.bio h2{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.bio h3{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.bio p{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 100px;
	}
	.GalleryList{
		margin-top: 20px;
		margin-left: 0px;
		margin-right: 0px;
	}
	.galCell{
		margin: 0px;
		padding: 30px;
	}
	.Gallery{
		flex-direction: column;
	}
}

/*wide screen formatting*/
@media screen and (min-width:1300px){
	.bar1, .bar2, .bar3 {
		display: none;
	}
	.menu{
		flex-direction: row;
		position: absolute;
		top: 60px;
		right: 50px;
	}
	.item{
		display: flex;
	}
	.bio h2{
		padding-right: 200px;
		padding-left: 200px;
		padding-bottom: 150px;
	}
	.bio h3{
		padding-right: 200px;
		padding-left: 200px;
		padding-bottom: 150px;
	}
	.bio p{
		padding-right: 200px;
		padding-left: 200px;
		padding-bottom: 150px;
	}
	.GalleryList{
		margin-top: 70px;
		margin-left: 200px;
		margin-right: 200px;
	}
}

/*extra wide formatting*/
@media screen and (min-width: 1600px){
	.bio h2{
		padding-right: 300px;
		padding-left: 300px;
		padding-bottom: 150px;
	}
	
	.bio h3{
		padding-right: 300px;
		padding-left: 300px;
		padding-bottom: 150px;
	}
	
	.bio p{
		padding-right: 300px;
		padding-left: 300px;
		padding-bottom: 150px;
	}
	
	.GalleryList{
		margin-top: 70px;
		margin-left: 300px;
		margin-right: 300px;
	}
}
